absl-py
certifi
charset-normalizer
click
colorama
contourpy
cycler
docker-pycreds
filelock
fonttools
fsspec
gitdb
GitPython
grpcio
huggingface-hub
idna
Jinja2
joblib
kiwisolver
Markdown
MarkupSafe
matplotlib
mpmath
networkx
numpy
packaging
pillow
platformdirs
protobuf
psutil
pyparsing
python-dateutil
PyYAML
requests
safetensors
scikit-learn
scipy
sentry-sdk
setproctitle
six
smmap
sympy
tensorboard
tensorboard-data-server
threadpoolctl
timm
torch
torchvision
tqdm
typing_extensions
urllib3
utils
wandb
Werkzeug